rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Public write access to submit form
    match /pledgeResponses/{docId} {
      // Users (not logged in) can write, but can't read
      allow write: if true;

      // Any authenticated user can read
      allow read: if request.auth != null;
    }
  }
}
